# Volume control
bindsym $mod+Prior exec amixer set Master 5%+
bindsym $mod+Next  exec amixer set Master 5%-
bindsym XF86AudioRaiseVolume exec amixer set Master 5%+
bindsym XF86AudioLowerVolume  exec amixer set Master 5%-

# screenshot
bindsym $mod+Shift+s exec grimshot copy area

# lé moji
bindsym $mod+Semicolon exec wofi-emoji

# le dessert
exec /usr/bin/gammastep
exec mako
exec export _JAVA_AWT_WM_NONREPARENTING=1

# swaylock
set $lock_bg ~/Pictures/viaevistouchbg/viaevista_bleu.png
bindsym $mod+l exec swaylock -i $lock_bg -c /home/ponicorn/.config/swaylock/config
