# OutRun theme
set $base00 #21222C
set $base01 #FF5555
set $base02 #50FA7B
set $base03 #F1FA8C
set $base04 #BD93F9
set $base05 #FF79C6
set $base06 #8BE9FD
set $base07 #F8F8F2
set $base08 #6272A4
set $base09 #FF6E6E
set $base10 #69FF94
set $base11 #FFFFA5
set $base12 #D6ACFF
set $base13 #FF92DF
set $base14 #A4FFFF
set $base15 #FFFFFF
