# ecran du portable
set $laptop eDP-1
bindswitch lid:on output $laptop disable
bindswitch lid:off output $laptop enable

# ecran du boulot 
set $gauche_boulot 'Dell Inc. DELL S2421NX 3YJQQ83'
set $droite_boulot 'Dell Inc. DELL S2421NX FC15P83'

# ecran tt
set $gauche_tt 'Samsung Electric Company C24FG7x HTHM203042'
set $droite_tt 'Philips Consumer Electronics Company PHL 243B1 0x00001CDF'

set $gauche $gauche_tt
set $droite $droite_tt
#set $gauche $gauche_boulot
#set $droite $droite_boulot

#output
output * bg /home/ponicorn/Pictures/cerf.jpg fill
output $gauche res 1920x1080@60.000000Hz pos 0 0  
output $droite res 1920x1080@74.973000Hz pos 1920 0
output $laptop pos 3840 0

