font pango:Fira Code 8 

set $mains  #FF79C6
set $dark   #21222c
set $danger #50FA7B

# set $mains  #81A1C1
# set $dark   #3B4252
# set $danger #BF616A

bar {
    position bottom

    status_command while i3status; do sleep 1; done

    colors {
        background $dark
        statusline $mains
        separator  $mains

        focused_workspace  $mains  $mains  $dark
        active_workspace   $dark   $dark   $mains
        inactive_workspace $dark   $dark   $mains
        urgent_workspace   $danger $danger $dark
        binding_mode       $danger $danger $dark

    }
}

client.focused          $mains  $mains  $dark  $mains  $mains
client.urgent           $danger $danger $dark  $danger $danger
client.unfocused        $dark   $dark   $mains $dark   $dark
client.focused_inactive $dark   $dark   $mains $dark   $dark
