! import color scheme
!#include "/home/ponicorn/xtheme/default_theme"
!#include "/home/ponicorn/xtheme/monokai_theme"
#include "/home/ponicorn/xtheme/outrun_theme"
!#include "/home/ponicorn/xtheme/nord_theme"

! X11
Xcursor.size: 16

! Cleaning
Xft.antialias: 1
Xft.autohint: 1
Xft.hintstyle: hintslight

! UXTerm
UXTerm*FaceName: Fira Code
UXTerm*FaceSize: 10
UXTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
UXTerm*BorderWidth: 0
UXTerm*internalBorder: 2
UXTerm*Background: Black
UXTerm*Foreground: White

! XTerm
XTerm*FaceName: Fira Code
XTerm*FaceSize: 10
XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
XTerm*BorderWidth: 0
XTerm*internalBorder: 2
XTerm*Background: Black
XTerm*Foreground: White

! URxvt
URxvt*FaceName: Fira Code
URxvt*FaceSize: 10
URxvt*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
URxvt*BorderWidth: 0
URxvt*internalBorder: 8
URxvt*Background: Black
URxvt*Foreground: White
URxvt*visualBell: false


*Color0:  Black
*Color1:  Red
*Color2:  Green
*Color3:  Yellow
*Color4:  Blue
*Color5:  Magenta
*Color6:  Cyan
*Color7:  White
*Color8:  BlackB
*Color9:  RedB
*Color10: GreenB
*Color11: YellowB
*Color12: BlueB
*Color13: MagentaB
*Color14: CyanB
*Color15: WhiteB
