/* ! OutRun theme */
.Black    { color: #21222C; }
.Red      { color: #FF5555; }
.Green    { color: #50FA7B; }
.Yellow   { color: #F1FA8C; }
.Blue     { color: #BD93F9; }
.Magenta  { color: #FF79C6; }
.Cyan     { color: #8BE9FD; }
.White    { color: #F8F8F2; }
.BlackB   { color: #6272A4; }
.RedB     { color: #FF6E6E; }
.GreenB   { color: #69FF94; }
.YellowB  { color: #FFFFA5; }
.BlueB    { color: #D6ACFF; }
.MagentaB { color: #FF92DF; }
.CyanB    { color: #A4FFFF; }
.WhiteB   { color: #FFFFFF; }
